<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61156146554-i1aiu2ofof5fufs9jsvvlqbfs7g9q96g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61156146554-i1aiu2ofof5fufs9jsvvlqbfs7g9q96g</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Jvw_CFq3-qRX3pK5juNVhx37ATtxrwE</string>
	<key>GCM_SENDER_ID</key>
	<string>61156146554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.one-nation.orcon-communication</string>
	<key>PROJECT_ID</key>
	<string>orcon-web</string>
	<key>STORAGE_BUCKET</key>
	<string>orcon-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61156146554:ios:21ea456269433261</string>
	<key>DATABASE_URL</key>
	<string>https://orcon-web.firebaseio.com</string>
</dict>
</plist>